<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY MANAGEMENT| ABOUT US</title>
	<style>
	
body {
  background-image: url('/static/img/img21.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="/static/img/img1.jfif" alt="sheep-logo" height="100px" width="200px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
              
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="/">HOME</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="login">LOGIN</a>
                <a type="button" class="btn btn-primary mr-1" id="sponsor" href="about">CONTACT US</a>
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">About us</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;height: 20rem">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Mission</h5>
                      <p class="card-text">Retailers that follow inventory management best practices lay the foundation for greater stock accuracy, lower costs, less shrinkage and higher profit margins. Strive to meet industry standards and follow the advice of inventory experts.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;height: 20rem">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Vission</h5>
                      <p class="card-text">The right technology is crucial to achieving maximum efficiency in retail inventory management. You need to be able to see all products, in a single view and apply intelligent order management to your purchasing to provide customers with an exceptional shopping experience. The right solution scales with your business and supports unlimited expansion. </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem; height: 20rem">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Objective</h5>
                      <p class="card-text">Inventory management methods help retailers generate maximum profits by reducing costs, improving efficiency and understanding sales drivers. These methods optimize quantities purchased from suppliers, fine-tune fulfillment processes, strategically locate products, account for inventory and analyze demand and sales patterns.

</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <footer class="site-footer">
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h3>Retail Inventory Management</h3>
                  <p class="text-justify">Retail inventory management is stocking products that buyers want, using pricing and promotions to sell profitably, and maintaining inventory at levels that meet demand without over-purchasing. An overall inventory management plan guides how this all gets done, from intelligent purchasing and pricing to procedures covering receiving, inventory counts, and location tracking.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                  <h4> Get in Touch</h4>
                  <ul class="footer-links">
                    <li><a href="mailto:test@gmail.com">abcdefg@gmail.com</a></li>
                    <li><a href="">+91 5405405544</a></li>
                  </ul>
                </div>

                
              </div>
            <hr>
            
                
              </div>
            </div>
      </footer>
       
 <footer class="footer my-1 mb-0  mt-auto py-3 bg-dark">
        <div class="container">
            <h4 style="color: #eee;">Copyright &copy;2021</h4>
            <span class="text-muted">All Rights&#174; Reserved &nbsp;&nbsp; InventoryManagementSystem for Retailers</span>
        </div>
    </footer>
          </body>
</html>