<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-color: lightgray;color: #000000">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY MANAGEMENT SYSTEM FOR RETAILERS | HOME</title>
	
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
		</body>
</head>

        <!-- bootstrap navbar -->
        <nav class="navbar  navbar-expand-lg navbar-dark">
            <div class="container-fluid">
			  <a type="button" class="btn btn-primary mr-1" id="sponsor" href="cusdis">CUSTOMER PURCHASES</a>
              <a class="main-logo-img mt-3" href="#"><img src="/static/img/img1.jfif" alt="sheep-logo" height="90px" width="180px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
              
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="login">LOGIN</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
				<a type="button" class="btn btn-primary mr-1" id="donate" href="about">CONTACT </a>
				<a type="button" class="btn btn-primary mr-1" id="sponsor" href="contact">ABOUT </a>
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">WELCOME TO INVENTORY MANAGEMENT SYSTEM</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 64rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Why should retailers use inventory management system</h5>
                      <p class="card-text">Retail inventory management is the process of ensuring you carry merchandise that shoppers want, with neither too little nor too much on hand. By managing inventory, retailers meet customer demand without running out of stock or carrying excess supply.


In practice, effective retail inventory management results in lower costs and a better understanding of sales patterns. Retail inventory management tools and methods give retailers more information with which to run their businesses. Applications have been developed to help retailers to track and manage stocks related to their own products.
                      </p>
                    </div>
                  </div>
                </div>
               
                
              </div>
            </div>
          </section>
		  <section class="our-focus">
            <div class="container">
              
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;height:22rem">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
					<img src="/static/img/img5.png" width="250px" height="110px">
					
                      <h5 class="card-title">Starting out in retail</h5>
                      <p class="card-text">If you are starting your own brand, multi-brand store or ecommerce site, Inventory management helps you to get the processes in place quickly and focus on your business.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;height: 22rem">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
					<img src="/static/img/img6.png" width="250px" height="110px">
					
                      <h5 class="card-title">Growing your network</h5>
                      <p class="card-text">Inventory management is the right platform for growth with its strategic toolkit of valuable integrations and business intelligence tools. Tireless account managers ensure your success </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;height: 22rem">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
					<img src="/static/img/img4.jfif" width="250px" height="110px">
					
                      <h5 class="card-title">Big league</h5>
                      <p class="card-text">In the big league managing the complexity of multiple applications is a huge challenge. Inventory management simplifies things by reducing scope of customizations and integrating well with other applications.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->
		   <div class="col-sm-14 my-3">
            <div class="container">
              <h2 class="text-center mt-5">Best InventoryManagementSystem for Retailers</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class=" " style="width: 64rem;">
                    
                    <p class="text-center">
                        Inventory managers are uniquely useful for sales departments because they ensure you
                        can easily manage and track your inventory. These platforms include features for
                        monitoring amounts of each product in your inventory, including how much is being
                        produced daily, how much is being stored. With the automation of this information, you
                        can more swiftly monitor inventory data, more accurately predict future inventory
                        needs.
                    </p>
                </div>
            </div>
        </div>

        
            <div class="col-sm-14 my-3">
            <div class="container">
              <h2 class="text-center mt-5">What Our Customer's Says</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                    <div class=" " style="width: 64rem;">
                    <p class="text-center">Get reports on inventory inward and outward movements and make
                        profitable decisions. Maintain your inventory effectively & efficiently.These
                        platforms include features for monitoring amounts of each product in your inventory,
                        including how much is being produced daily, how much is being stored and how much is
                        being sold. With the automation of this information, you can more swiftly monitor
                        inventory data, such as how well certain items are selling, and more accurately
                        predict future inventory needs.
                    </p>
                </div>
            </div>
        </div>

        <!-- footer starts -->
          <!-- Site footer -->
          <footer class="site-footer">
		  
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-12 col-md-6">
				
				
                  
                </div>
              </div>
            </div>
          </section>
          
        <footer class="footer my-1 mb-0  mt-auto py-3 bg-dark">
        <div class="container">
            <h4 style="color: #eee;">Copyright &copy;2021</h4>
            <span class="text-muted">All Rights&#174; Reserved &nbsp;&nbsp; InventoryManagementSystem for Retailers</span>
        </div>
    </footer>
       

          </body>
</html>